@charset "UTF-8";
/*------------------------------------------------------------
    Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

html {
  font-size: 62.5%; }

body {
  -webkit-text-size-adjust: 100%; }

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

table,
input, textarea, select, option {
  line-height: 1.1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)"; }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  clear: both; }

/*------------------------------------------------------------
#Header
------------------------------------------------------------*/
body {
  font-size: 1.4rem;
  line-height: 1.6; }

.header__container {
  width: 1050px;
  margin: 0px auto;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__container ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .header__container ul li {
      margin-left: 20px; }
  .header__container li > a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #000; }

/*==========NAVI MENU PC============*/
.c-navibar {
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #ccc; }
  .c-navibar ul {
    width: 1050px;
    margin: 0 auto;
    border-left: 1px solid #CCC;
    background: #EFEFEF;
    height: 40px; }
  .c-navibar li {
    width: 20%;
    border-right: 1px solid #CCC;
    float: left;
    display: inline-block; }
    .c-navibar li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-decoration: none;
      height: 40px;
      font-size: 1.4rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: #EFEFEF;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #333; }

.mobile {
  display: none; }

/*==========link============*/
.c-link {
  padding: 10px 10px; }
  .c-link ul {
    width: 1050px;
    margin: 0 auto; }
  .c-link li {
    line-height: 1;
    font-size: 1.2rem;
    display: inline-block; }
  .c-link li:after {
    content: "›";
    display: inline-block;
    margin: 0 7px; }
  .c-link li:last-child:after {
    content: ""; }
  .c-link a {
    color: #000; }

.link--bottomline {
  border-bottom: 1px solid #ccc; }

.link--topline {
  border-top: 1px solid #ccc; }

/*------------------------------------------------------------
# Component
------------------------------------------------------------*/
.c-main-SubHeading1, .c-main-SubHeading2, .c-main-SubHeading3 {
  line-height: 1;
  font-size: 1.3rem;
  padding: 6px 0 6px 15px;
  margin: 40px 0 20px 0;
  border-radius: 5px; }

.c-main-SubHeading1 {
  font-size: 1.6rem;
  background: #000;
  color: #fff; }

.c-main-SubHeading2 {
  background: #888;
  color: #FFF;
  padding-left: 30px;
  margin-top: 20px; }

.c-main-SubHeading3 {
  background: #DDD;
  color: #000;
  padding-left: 35px;
  margin-top: 20px;
  clear: both;
  width: 100%; }

/*------------------------------------------------------------
# BTN
------------------------------------------------------------*/
.c-btnround {
  display: inline-block; }
  .c-btnround a {
    line-height: 1;
    text-align: center;
    min-width: 200px;
    padding: 13px 0;
    font-size: 1.3rem;
    background: #FC6E51;
    color: white;
    display: inherit;
    border-radius: 30px;
    text-decoration: none; }
  .c-btnround a:hover {
    text-decoration: underline; }

.c-btnround--green a {
  background: #37BC9B; }

.c-btnround--blue a {
  background: #3BAFDA; }

.l-btnround--center {
  text-align: center; }

/*=========2BTN CENTER==============*/
.l-btnround--2btnCenter {
  text-align: center; }
  .l-btnround--2btnCenter div:last-child {
    margin-left: 30px; }

/*=========2BTN BETWEEN==============*/
.l-btnround--2btnBetween {
  justify-content: space-between;
  display: flex; }

.c-headline {
  line-height: 1;
  border-bottom: 1px solid #CCC; }

/*------------------------------------------------------------
# Title
------------------------------------------------------------*/
.c-SubHeading1 h1, .c-SubHeading1 h2, .c-SubHeading1 h3, .c-SubHeading1 h4, .c-SubHeading1 h5, .c-SubHeading1 h6 {
  font-size: 1.6rem;
  padding-left: 15px; }

.c-SubHeading1--redtxt h1, .c-SubHeading1--redtxt h2, .c-SubHeading1--redtxt h3, .c-SubHeading1--redtxt h4, .c-SubHeading1--redtxt h5, .c-SubHeading1--redtxt h6 {
  color: #DA4453; }

.c-SubHeading1--bluetxt h1, .c-SubHeading1--bluetxt h2, .c-SubHeading1--bluetxt h3, .c-SubHeading1--bluetxt h4, .c-SubHeading1--bluetxt h5, .c-SubHeading1--bluetxt h6 {
  color: #3BAFDA; }

/*===========c-SubHeading 1==============*/
.c-SubHeading1 {
  border-left: 8px solid #8CC152;
  margin-bottom: 10px; }

/*===========c-SubHeading 1 yellow==============*/
.c-SubHeading1--yellow {
  border-left-color: #F6BB42; }

/*===========c-SubHeading 1 orange==============*/
.c-SubHeading1--orange {
  border-left-color: #E9573F; }

/*===========c-SubHeading 1 COLOR3==============*/
.c-SubHeading1--color3 {
  border-left-color: #F6BB42; }

.c-SubHeading2 h1, .c-SubHeading2 h2, .c-SubHeading2 h3, .c-SubHeading2 h4, .c-SubHeading2 h5, .c-SubHeading2 h6 {
  font-size: 1.8rem;
  font-weight: bold; }

/*===========c-SubHeading 2==============*/
.c-SubHeading2 {
  border-bottom: 1px solid #333;
  padding-bottom: 12px;
  margin-bottom: 20px; }

.c-SubHeading2--green h1, .c-SubHeading2--green h2, .c-SubHeading2--green h3, .c-SubHeading2--green h4, .c-SubHeading2--green h5, .c-SubHeading2--green h6 {
  color: #8CC152; }

.c-SubHeading2--green {
  border-bottom-color: #8CC152; }

/*===========c-SubHeading 4==============*/
.c-headline {
  line-height: 1;
  border-bottom: 1px solid #CCC; }

.c-headline__container {
  width: 1050px;
  margin: 0px auto;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .c-headline__container h2 {
    font-size: 2.2rem; }
  .c-headline__container p {
    margin-top: 8px;
    font-size: 1.4rem; }

/*------------------------------------------------------------
# L MAIN
------------------------------------------------------------*/
.l-main {
  width: 800px;
  margin-top: 50px; }

/*===========c-navibar==============*/
.c-navibar1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.c-navibar1 li {
  width: 180px; }
.c-navibar1 a {
  text-decoration: none;
  background: #4FC1E9;
  color: white;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 38px;
  border-radius: 5px;
  font-size: 1.2rem;
  clear: both; }
.c-navibar1 a:before {
  content: "";
  width: 5px;
  height: 5px;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  margin-right: 7px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -4px; }

/*------------------------------------------------------------
# IMG
------------------------------------------------------------*/
.c-images {
  border: 1px solid #ccc;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .c-images h3 {
    font-size: 2rem;
    font-weight: normal; }

.c-images__img {
  width: 150px;
  margin-right: 10px; }

.c-images__text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .c-images__text p {
    font-size: 1.2rem; }

.c-images--bg {
  background: #f5f7fa; }

.c-images--round {
  border-radius: 10px; }

.c-images--imgright {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
  .c-images--imgright .c-images__img {
    margin-right: 0px;
    margin-left: 10px; }

/*======= C LIST==========*/
.c-itemlist1 {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  float: left; }

.c-itemlist1__card {
  width: 185px;
  margin-bottom: 20px;
  margin-left: 20px;
  float: left; }

.c-itemlist1__card:nth-child(4n+1) {
  margin-left: 0px; }

.c-itemlist1__info {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: lex; }

.c-itemlist1__img2 {
  width: 50px;
  margin-right: 10px; }

.c-itemlist1__text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .c-itemlist1__text h3 {
    font-size: 1.4rem; }
  .c-itemlist1__text p {
    font-size: 1.2rem; }

.c-itemlist1--col3 .c-itemlist1__card {
  width: 253px; }

.c-itemlist1--col3 .c-itemlist1__card:nth-child(4n+1) {
  margin-left: 20px; }

.c-itemlist1--col3 .c-itemlist1__card:nth-child(3n+1) {
  margin-left: 0px; }

/*------------------------------------------------------------
# List Text
------------------------------------------------------------*/
.c-itemlist2 ul {
  margin-left: 1.7rem; }
.c-itemlist2 li {
  list-style-type: disc;
  font-size: 1.4rem; }

.c-itemlist3 ul {
  margin-left: 1.7rem; }
.c-itemlist3 li {
  list-style-type: decimal;
  font-size: 1.4rem; }

.c-itemlist4 ul {
  border-top: 1px solid #ccc; }
.c-itemlist4 li {
  border-bottom: 1px solid #ccc; }
.c-itemlist4 a {
  text-decoration: none;
  display: block;
  padding: 12px 10px;
  font-size: 1.3rem; }

.c-itemlist5 li {
  margin-top: 10px; }
.c-itemlist5 li:first-child {
  margin-top: 0px; }

/*------------------------------------------------------------
# Table
------------------------------------------------------------*/
.c-table1 th, .c-table1 td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0; }

.c-table1 table {
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  width: 100%;
  border-collapse: collapse; }
.c-table1 thead th {
  background: #8cc152;
  color: #fff;
  font-size: 1.4rem; }
.c-table1 tbody th {
  background: #e6e9ed;
  font-weight: normal;
  font-size: 1.4rem; }
.c-table1 .u-gray {
  background: #434A54;
  color: #fff; }
.c-table1 tbody td {
  text-align: center;
  font-size: 1.4rem; }

/*------------------------------------------------------------
# LINE
------------------------------------------------------------*/
.c-line1 {
  position: relative; }
  .c-line1 hr {
    height: 0;
    border: 0;
    border-top: 1px solid #CCC;
    text-align: center; }
  .c-line1 hr:after {
    content: '§';
    display: inline-block;
    position: absolute;
    padding: 0 10px;
    background: #fff;
    color: #bbb;
    font-size: 1.4rem;
    left: 50%;
    top: 50%;
    line-height: 1;
    margin-top: -0.7rem;
    margin-left: -0.7rem; }

/*------------------------------------------------------------
# MESSENGER
------------------------------------------------------------*/
.c-message1 {
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 30px 10px; }
  .c-message1 p {
    text-align: center;
    font-size: 1.4rem; }

.c-messege1--color1 {
  border-color: #37BC9B;
  background: #48CFAD; }
  .c-messege1--color1 p {
    color: #FFF; }

/*------------------------------------------------------------
# Side
------------------------------------------------------------*/
.l-side {
  width: 220px;
  margin-top: 50px; }

.c-sideFrame1 {
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 30px; }

.c-sideFrame1__head {
  border-bottom: 1px solid #ccc;
  padding: 12px 10px;
  background: #e6e9ed; }
  .c-sideFrame1__head p {
    font-size: 1.4rem;
    line-height: 1; }

.c-sideFrame1__body {
  padding: 13px 10px; }

/*------------------------------------------------------------
# Footer
------------------------------------------------------------*/
footer {
  margin-top: 30px; }

.c-footcategory {
  border-top: 1px solid #ccc;
  background: #efefee;
  padding: 30px 0; }
  .c-footcategory p {
    font-weight: bold;
    font-size: 1.4rem; }
  .c-footcategory li {
    margin-top: 6px; }
  .c-footcategory a {
    text-decoration: none;
    color: #000;
    font-size: 1.4rem; }

.c-footcategory__container {
  width: 1050px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.c-footCopy {
  padding: 20px 0;
  border-top: 1px solid #CCC; }
  .c-footCopy p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1; }

/*-------------------------------------------------------------------------------------------------
# P-Service             P-Service            P-Service            P-Service           P-Service
---------------------------------------------------------------------------------------------------*/
.p-service .c-headline {
  background: #5D9CEC;
  color: #FFF; }

.p-service1 {
  margin: 40px 0px; }

.l-content {
  width: 1050px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.p-service2 {
  margin-bottom: 40px; }

.p-service2__txt1 {
  margin-bottom: 20px; }
  .p-service2__txt1 p {
    font-size: 1.4rem; }

.u-red {
  color: #F00;
  font-weight: bold; }

.p-service3 {
  margin-bottom: 40px; }
  .p-service3 .c-table1 {
    margin-bottom: 30px; }
  .p-service3 .l-btnround {
    margin-top: 30px; }

.p-service4 .c-SubHeading1 {
  margin-bottom: 20px; }
.p-service4 .c-images {
  margin-bottom: 30px; }
.p-service4 .c-SubHeading3 {
  margin-bottom: 10px; }
.p-service4 p {
  margin-bottom: 20px; }

/*-------------------------------------------------------------------------------------------------
# P-COMPANY            P-COMPANY            P-COMPANY            P-COMPANY           P-COMPANY
---------------------------------------------------------------------------------------------------*/
.p-company1 p {
  margin-bottom: 20px; }

.p-company2 {
  margin-bottom: 40px; }
  .p-company2 .c-table1 {
    margin-bottom: 30px; }

.p-company3 p {
  margin-bottom: 10px; }
.p-company3 .c-itemlist2 {
  margin-bottom: 30px; }
.p-company3 .c-line1 {
  margin-top: 30px;
  margin-bottom: 30px; }

.p-company3__greentxt {
  color: #8CC152; }

.p-company3__redtxt {
  color: #DA4453;
  font-size: 1.2rem; }

.c-company3-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px; }

.c-company3-img__img {
  margin-right: 15px; }

.c-company3-img__txt {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

/*------------------------------------------------------------
# Mobile
------------------------------------------------------------*/
/*------------------------------------------------------------
# Header top menu
------------------------------------------------------------*/
/*---------MENU MOBILE-----------*/
.c-menuhead {
  width: 30px;
  height: 30px;
  top: 11px;
  right: 10px;
  cursor: pointer;
  position: absolute; }

.c-menuhead__1, .c-menuhead__2, .c-menuhead__3 {
  width: 100%;
  height: 5px;
  background: #000;
  margin: 6px auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.c-menuhead.is-open .c-menuhead__1 {
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px); }

.c-menuhead.is-open .c-menuhead__2 {
  opacity: 0; }

.c-menuhead.is-open .c-menuhead__3 {
  -webkit-transform: rotate(-45deg) translate(8px, -8px);
  -ms-transform: rotate(-45deg) translate(8px, -8px);
  transform: rotate(-45deg) translate(8px, -8px); }

@media screen and (max-width: 767px) {
  /*------------------------------------------------------------
  # GENERAL
  ------------------------------------------------------------*/
  body {
    padding-top: 60px;
    font-size: 1.2rem; }

  img {
    max-width: 100%;
    height: auto; }

  .pc {
    display: none !important; }

  .mobile {
    display: block; }

  .c-link1 ul {
    width: auto; }

  .l-main {
    width: auto;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px; }

  .l-side {
    width: auto;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px; }

  .c-headline__container {
    width: auto; }

  .l-content {
    width: auto;
    display: block; }

  .c-link ul {
    width: auto; }

  /*------------------------------------------------------------
  # HEADER MOBILE
  ------------------------------------------------------------*/
  .header {
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0; }

  .header__container {
    width: auto;
    height: auto;
    border-bottom: 1px solid #CCC;
    background: #fff;
    padding: 10px; }

  .c-navibar li {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }

  .c-navibar ul {
    width: 100%;
    display: inherit;
    padding: 0px; }

  .c-navibar li a {
    background: #FFF;
    height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #333;
    text-decoration: none;
    display: block;
    color: #333;
    padding: 10px 10px; }

  .c-navibar {
    display: none; }

  /*------------------------------------------------------------
  # 2BTN Center
  ------------------------------------------------------------*/
  .l-btnround--2btnCenter {
    padding: 0px 10px; }
    .l-btnround--2btnCenter div {
      width: 48%; }
    .l-btnround--2btnCenter .c-btnround a {
      min-width: 100%; }

  .l-btnround--2btnCenter div:last-child {
    margin-left: 2%; }

  /*------------------------------------------------------------
  # 2BTN BETWEEN
  ------------------------------------------------------------*/
  .l-btnround--2btnBetween {
    padding: 0px 10px; }
    .l-btnround--2btnBetween div {
      width: 48%; }
    .l-btnround--2btnBetween .c-btnround a {
      min-width: 100%; }

  .l-btnround--2btnBetween div:last-child {
    margin-left: 2%; }

  /*------------------------------------------------------------
  #  TITLE
  ------------------------------------------------------------*/
  .c-headline h2 {
    font-size: 1.6rem; }

  .c-headline__container {
    padding: 0 10px;
    height: 70px; }

  /*------------------------------------------------------------
  #  L MAIN
  ------------------------------------------------------------*/
  .l-main {
    width: auto;
    margin-top: 20px;
    padding: 0 10px; }

  /*------------------------------------------------------------
  #  NAVI
  ------------------------------------------------------------*/
  .c-navibar1 ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex; }
  .c-navibar1 li {
    width: 49%;
    margin-left: 2%;
    margin-bottom: 10px; }
  .c-navibar1 li:nth-child(2n+1) {
    margin-left: 0; }

  /*------------------------------------------------------------
  #  C-LIST 1
  ------------------------------------------------------------*/
  .c-itemlist1__card {
    width: 49%;
    margin-left: 2%; }

  .c-itemlist1__img1 img {
    width: 100%;
    height: auto; }

  .c-itemlist1__card:nth-child(2n+1) {
    margin-left: 0px; }

  /*------------------------------------------------------------
  #  C-LIST 1 COL3
  ------------------------------------------------------------*/
  .c-itemlist1--col3 .c-itemlist1__card {
    width: 49%;
    margin-left: 2%; }

  .c-itemlist1--col3 .c-itemlist1__card:nth-child(3n+1) {
    margin-left: 2%; }

  .c-itemlist1--col3 .c-itemlist1__card:nth-child(2n+1) {
    margin-left: 0px; }

  /*------------------------------------------------------------
  #  TABLE spBLOCK
  ------------------------------------------------------------*/
  .c-table1--spBlock th, .c-table1--spBlock td {
    display: block; }

  /*------------------------------------------------------------
  #  FOOTER
  ------------------------------------------------------------*/
  .c-footcategory__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }

  .c-footcategory {
    padding: 15px 10px 5px 10px; }

  .c-footcategory__block {
    width: 48%;
    margin-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */
